<div class="capaignsDiv">
    <div class="campDiv"></div>
    <div class="section light full-height">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="feature">
                        <h3>Campañas digitales</h3>
                        <p>Nuestros servicios de promoción digital impulsarán tu marca para que llegues a un mercado
                            real. Incluye canales como:
                        <ul class="collection">
                            <li class="collection-item N/A transparent navItems">Google Ads & Facebook Ads</li>
                            <li class="collection-item N/A transparent navItems">YouTube
                            </li>
                            <li class="collection-item N/A transparent navItems">Amazon Ads
                            </li>
                            <li class="collection-item N/A transparent navItems">LinkedIn
                            </li>

                        </ul>

                        </p>
                    </div>
                    <div class="device-triplet">
                        <div class="tablet-preview-sizer">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/11.jpg)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer left-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/12.jpg)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer right-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/10.jpg)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>