<div class="contactoDiv"> <br>
    <div class="divContacto">

    </div><br>
    <div class="container centered titleSiguenos">
        <div class="row">

            <h3>Contáctanos</h3>
            <p style="font-style: italic; font-size: 1.5rem">También puedes enviar correo directamente a:
                alecvipa@gmail.com
            </p>

        </div>
        <div class="row">
            <form class="col s12" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="name" placeholder="Nombre" id="first_name" type="text" class="validate formInput"
                            required="" aria-required="true">
                        <label for="first_name">Nombre completo</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="email" id="email" type="text" class="validate formInput" required=""
                            aria-required="true">
                        <label for="email">Correo electrónico</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="message" id="input_text" type="text" data-length="10" required=""
                            aria-required="true" class="formInput">
                        <label for="input_text">Mensaje</label>
                    </div>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" required="" aria-required="true" />
                        <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                    </label>
                </div>
                <button class="btn waves-effect waves-light #212121 grey darken-4">Enviar
                    <i class="material-icons right" style="color: white !important;">send</i>
                </button>
            </form>
        </div>
    </div> <br>
    <div class="opcionComprar">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/fuego.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">EN BUSCA DEL FUEGO
                                NUEVO<i class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">EN BUSCA DEL FUEGO
                                NUEVO<i class="material-icons right" style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 15 a 150 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Trabajo en equipo,
                                planeación, liderazgo, estrategia y comunicación. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Equipos de guerreros saldrán en busca delos objetos
                                ceremoniales y el códice sagrado; apoyándose
                                únicamente de sus habilidades, conocimientos y un
                                antoguo mapa del lugar; pero solo el mejor equipo de
                                guerreros será el merecedor de encender el fuego
                                nuevo que les abrirá nuevas posibilidades de
                                aprendizaje y desarrollo personal.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/amazonia.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">AMAZONIA<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">AMAZONIA<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 10 a 30 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Pensamiento estratégico,
                                colaboración, negociación y enfoque a resultados. <br>
                                <span class="bulletsGross">Duración:</span> 2 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Se dice que en la selva del amazonia se encuentra una
                                mina repleta de diamantes. Para poder accesar a ellos
                                cada equipo deberá diseñar una estrategia casi
                                perfecta que les permita cruzar la selva con éxito,
                                solo los equipos más cohesionados y organizados
                                lograrán el reto. En el amazonia se encontrarán con
                                varios personajes que los retarán a trabajar en equipo.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/pirata.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">LAS ISLAS<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">LAS ISLAS<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 9 a 20 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Negociación,
                                comunicación, estrategia, enfoque a resultados y sentido
                                de pertenencia. <br>
                                <span class="bulletsGross">Duración:</span> 2 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Existen cuatro islas en el mar del caribe en donde cada
                                una tiene acceso a un producto clave; sin embargo,
                                para que todos los habitantes de las islas sobrevivan
                                (que es el objetivo) deberán hacer negocio o trueque
                                con los líderes de las islas alternas. Despues de un
                                tiempo, cada isla será evaluada con ciertos puntos de
                                calidad y se determinará si se cumplió el objetivo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>
</div>