<div class="digitalDiv">
    <div class="soBanner"></div>
    <div class="section black full-height">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="feature">
                        <h3>Redes sociales y artes digitales</h3>
                        <p class="textRealWhite">Nuestros servicios de redes sociales incluyen estrategias de contenido
                            y artes digitales. Adicional a esto, podemos generar cualquier tipo de arte que necesites
                            para que tu empresa construya su imagen.
                        <ul class="collection">
                            <li class="collection-item N/A transparent">Branding: Tarjetas de presentación, menús
                                digitales, etc...</li>
                            <li class="collection-item N/A transparent">Videos animados e interactivos
                            </li>
                            <li class="collection-item N/A transparent">Artes en general & fotografía
                            </li>

                        </ul>
                        </p>
                    </div>
                    <div class="device-triplet">
                        <div class="phone-preview-sizer iphone">
                            <div class="phone-preview"></div>
                            <div class="image-container default"
                                style="background-image:url(/assets/images/7.jpg)"></div>
                        </div>
                        <div class="phone-preview-sizer iphone left-in-out">
                            <div class="phone-preview"></div>
                            <div class="image-container default"
                                style="background-image:url(/assets/images/8.jpg)"></div>
                        </div>
                        <div class="phone-preview-sizer iphone right-in-out">
                            <div class="phone-preview"></div>
                            <div class="image-container default"
                                style="background-image:url(/assets/images/9.jpg)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>