<div class="inicioDiv">
    <div class="section header">
        <div class="background">
            <img src="" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12">
                <h1 style="color: #fcbc04 ;" class="transitionTitle">Capacitación & Consultoría</h1>
                <h3> <span style="color: white !important;">Enfocados en el crecimiento y éxito de tu
                        organización</span>
                </h3>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="somosXyncs">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h3 class="section-title" style="color: black; font-weight:bolder;"><i class="icon-rocket"></i>
                        Eleva tu organización</h3> <br>
                    <h4 class="" style="color: black;">
                        <div class=" fade-in-out">

                            <h4 class="justifyText flow-text">
                                Nuestro Catálogo de Formación en Desarrollo Organizacional fue creado para potenciar la
                                excelencia en su empresa. Ofrecemos una variedad de cursos esenciales para el
                                crecimiento y éxito de su organización. Descubra cómo nuestros programas pueden impulsar
                                a su equipo hacia el siguiente nivel.</h4>
                        </div>

                    </h4>
                </div>
                <div class="col s12 m6">
                    <img src="/assets/images/jhosuCeo.jpg" alt="xyncsCel" class="celXyncs">
                </div>
            </div>
        </div>
    </div>
    <div class="section black valign-wrapper">
        <div class="row valign marginCont">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12">
                        <h2 class="section-title">Capacitación Empresarial:</h2>
                    </div>
                </div>
                <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-light-bulb"></i></h4>
                        <p class="caption">LIDERAZGO</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-bolt"></i></h4>
                        <p class="caption">COACHING EJECUTIVO</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-rocket"></i></h4>
                        <p class="caption">COMUNICACIÓN EFECTIVA</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="fa-solid fa-brain"></i></h4>
                        <p class="caption">INTELIGENCIA EMOCIONAL</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="fa-solid fa-people-group"></i></h4>
                        <p class="caption">TRABAJO EN EQUIPO</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        {{!-- <h4><i class="icon-compass"></i></h4> --}}
                        <h4 class="justifyText flow-text">Evaluamos las necesidades del negocio y diseñamos la solución
                            de aprendizaje
                            orientada directamente a tu organización. Diseñados para desarrollar las habilidades de sus
                            colaboradores.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="somosXyncs">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h3 class="section-title " style="color: black; font-weight:bolder;"><i
                            class="fa-solid fa-circle-check"></i> Sesiones Estimulantes y Vivenciales</h3> <br>
                    <h4 class="" style="color: black;">
                        <div class=" fade-in-out">

                            <p class="caption flow-text textSomos">
                                Involucramos a los participantes en sesiones altamente estimulantes, focalizadas y
                                vivenciales en un ambiente propicio para el aprendizaje, que les permita ejecutar las
                                iniciativas generadas durante
                                las sesiones posteriormente de manera independiente.</p>

                            <p>
                            <ul class="pricing-features">
                                <li class="pricing-feature"><i class="icon-accept"></i>Administración del tiempo</li>
                                <li class="pricing-feature"><i class="icon-accept"></i>Creatividad e innovación</li>
                                <li class="pricing-feature"><i class="icon-accept"></i>Manejo de conflictos</li>
                                <li class="pricing-feature"><i class="icon-accept"></i>Desarrollo de equipos</li>
                                <li class="pricing-feature"><i class="icon-accept"></i>Presentaciones efectivas
                                </li>
                            </ul>
                            </p>

                        </div>

                    </h4>
                </div>
                <div class="col s12 m6">
                    <img src="/assets/images/kavanaBlue.jpg" alt="xyncsCel" class="celXyncs">
                </div>
            </div>
        </div>
    </div>

    <div class="section light full-height">
        <div class="row">
            <div class="col s12 m10 offset-m1 center">
                <h1>Team Buildings</h1>

            </div>
        </div>
    </div>

    <!-- Pricing Tables -->
    <div class="section black valign-wrapper">
        <div class="row valign">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table scale-in-out fade-in-out left-transform-origin">
                                <div class="pricing-header">

                                    <h4>En busca del fuego nuevo</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">9</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature teambuildingFontSize"><i class="icon-accept"></i>Aforo:
                                        15 a 150 personas</li>
                                    <li class="pricing-feature">
                                        <h4 class="justifyText flow-text textRealWhite">
                                            Equipos de guerreros saldrán en busca delos objetos
                                            ceremoniales y el códice sagrado; apoyándose
                                            únicamente de sus habilidades, conocimientos y un
                                            antoguo mapa del lugar; pero solo el mejor equipo de
                                            guerreros será el merecedor de encender el fuego
                                            nuevo que les abrirá nuevas posibilidades de
                                            aprendizaje y desarrollo personal.
                                        </h4>
                                        <hr> <br>
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Ver
                                            todos los Team Buildings
                                            <i class="material-icons right"></i>
                                        </button>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table featured scale-in-out fade-in-out">
                                <div class="pricing-header">

                                    <h4>Amazonia</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">59</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature teambuildingFontSize"><i class="icon-accept"></i>Aforo:
                                        10 a 30 personas</li>
                                    <li class="pricing-feature">
                                        <h4 class="justifyText flow-text textRealWhite">
                                            Se dice que en la selva del amazonia se encuentra una
                                            mina repleta de diamantes. Para poder accesar a ellos
                                            cada equipo deberá diseñar una estrategia casi
                                            perfecta que les permita cruzar la selva con éxito,
                                            muchos equipos han quedado a mitad de camino,
                                            solo los equipos más cohesionados y organizados
                                            lograrán el reto. En el amazonia se encontrarán con
                                            varios personajes que los retarán a trabajar en equipo.
                                        </h4>
                                        <hr> <br>
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Ver
                                            todos los Team Buildings
                                            <i class="material-icons right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table scale-in-out fade-in-out right-transform-origin">
                                <div class="pricing-header">

                                    <h4>Las Islas</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">299</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature teambuildingFontSize"><i class="icon-accept"></i>Aforo:
                                        9 a 20 personas</li>
                                    <li class="pricing-feature">
                                        <h4 class="justifyText flow-text textRealWhite">
                                            Existen cuatro islas en el mar del caribe en donde cada
                                            una tiene acceso a un producto clave; sin embargo,
                                            para que todos los habitantes de las islas sobrevivan
                                            (que es el objetivo) deberán hacer negocio o trueque
                                            con los líderes de las islas alternas. Despues de un
                                            tiempo, cada isla será evaluada con ciertos puntos de
                                            calidad y se determinará si se cumplió el objetivo.
                                        </h4>
                                        <hr> <br>
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Ver
                                            todos los Team Buildings
                                            <i class="material-icons right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="section light full-height" style="background-color: white !important;">
        <div class="container">
            <div class="row">
                <h2>Ellos confían en nosotros</h2>
            </div>
        </div>
        <div class="container">
            <div class="clientesKa feature left-in-out fade-in-out"></div>
        </div>

    </div>
</div>


<div class="section full-height">
    <div class="container">
        <form action="/inicio/email" method="POST" onsubmit="return submitInicioForm(this);">
            <div class="row">
                <div class="col s12">
                    <h2 class="section-title textRealWhite">Contáctanos</h2>
                </div>
                <div class="input-field col s6 ">
                    <input id="first_name" type="text" name="nameInicio" required="" class="formInput">
                    <label for="first_name">Nombre Completo</label>
                </div>
                <div class="input-field col s6">
                    <input name="emailInicio" id="emailInicio" type="text" class="validate formInput" required=""
                        aria-required="true">
                    <label for="email">Correo electrónico</label>
                </div>

                <div class="input-field col s12">
                    <input name="messageInicio" id="input_text" type="text" data-length="10" required=""
                        aria-required="true" class="formInput">
                    <label for="input_text">Mensaje</label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" required="" aria-required="true" />
                        <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                    </label>
                </div>
                <button class="btn waves-effect waves-light ">Enviar
                    <i class="material-icons right" style="color: white !important;">send</i>
                </button>

            </div>
        </form>
    </div>
</div>





