<div class="inicioDiv">
    <div class="section header">
        <div class="background">
            <img src="" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12">
                <h1 style="color:#24d4fc;" class="transitionTitle">Estudio Digital</h1>
                <span class="tagline">Comunica tu marca de una manera completamente diferente</span>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="somosXyncs">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h3 class="section-title center-align" style="color: black; font-weight:bolder;"><i
                            class="icon-rocket"></i> Construye tu
                        negocio</h3> <br>
                    <h4 class="" style="color: black;">
                        <div class=" fade-in-out">

                            <p class="caption center-align textSomos">
                                Nos enfocamos en estrategias de contenido, diseño web y campañas digitales. Para
                                construir
                                las marcas paso a paso hacia el éxito en el mercado digital. <br> <br>
                                Nuestra versatilidad
                                para apoyar a nuestros colaboradores con base en sus necesidades nos permite entender
                                los
                                negocios y su motor de la demanda.</p>
                        </div>

                    </h4>
                </div>
                <div class="col s12 m6">
                    <img src="/assets/images/cel.png" alt="xyncsCel" class="celXyncs">
                </div>
            </div>
        </div>
    </div>
    <div class="section black valign-wrapper">
        <div class="row valign">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12">
                        <h2 class="section-title">Nuestros servicios incluyen:</h2>
                    </div>
                </div>
                <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-light-bulb"></i></h4>
                        <p class="caption">Adaptabilidad de contenido a diferentes dispositivos</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-bolt"></i></h4>
                        <p class="caption">Enlaces desde tu sitio web a llamadas, Facebook, Twitter & Instagram</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-rocket"></i></h4>
                        <p class="caption">Estrategias de lanzamiento o posicionamiento</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="fa-solid fa-lock"></i></h4>
                        <p class="caption">Certificado de sitio seguro en tus sitio web</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="fa-brands fa-artstation"></i></h4>
                        <p class="caption">Arte digital & redacción de contenido</p>
                    </div>
                    <div class="col s12 m6 l4 fade-in-out">
                        <h4><i class="icon-compass"></i></h4>
                        <p class="caption">Posicionamiento en motores de búsqueda y redes sociales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section light full-height">
        <div class="row">
            <div class="col s12 m10 offset-m1 center">
                <h1>Estrategias en redes sociales</h1>

            </div>
        </div>
    </div>

    <!-- Pricing Tables -->
    <div class="section black valign-wrapper">
        <div class="row valign">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table scale-in-out fade-in-out left-transform-origin">
                                <div class="pricing-header">
                                    <i class="icon-paper-plane"></i>
                                    <h4>Basic</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">9</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature"><i class="icon-accept"></i>Estrategia de contenido</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Copywritting</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Artes digitales para facebook
                                        e instagram</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Pro y Enterprise.
                                    </li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table featured scale-in-out fade-in-out">
                                <div class="pricing-header">
                                    <i class="icon-plane"></i>
                                    <h4>Pro</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">59</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature"><i class="icon-accept"></i>Estrategia de contenido</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Copywritting</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Artes digitales para facebook
                                        e instagram</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Promociones gratuitas en
                                        redes sociales</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                    <li class="pricing-feature disabled"><i class="icon-close"></i>Solo enterprise.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="transform-wrapper">
                            <div class="pricing-table scale-in-out fade-in-out right-transform-origin">
                                <div class="pricing-header">
                                    <i class="icon-rocket"></i>
                                    <h4>Enterprise</h4>
                                    <div class="price">
                                        {{!-- <span class="currency">$</span>
                                        <span class="dollars">299</span>
                                        <span class="cents">99</span> --}}
                                    </div>
                                </div>
                                <ul class="pricing-features">
                                    <li class="pricing-feature"><i class="icon-accept"></i>Estrategia de contenido</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Copywritting</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Artes digitales para facebook
                                        e instagram</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Promociones gratuitas en
                                        redes sociales</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Artes interactivos</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Community management</li>
                                    <li class="pricing-feature"><i class="icon-accept"></i>Dinámicas de activación y
                                        Give Aways</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="section light full-height">
        <div class="container">
            <div class="row">
                <div class="col m3">
                    <div class="perspective-wrapper">
                        <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                            <h3>Construye tu marca</h3>
                            <p>Con un sitio web & una estrategia de contenido. </p>
                        </div>
                    </div>
                    <div class="perspective-wrapper">
                        <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
                            <h3>Posiciona tu negocio</h3>
                            <p>Vuélvete autoridad de marca en tu industria con nuestros planes de redes sociales.</p>
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <div class="phone-preview-halfway">
                        <div class="phone-preview-sizer">
                            <div class="phone-preview"></div>
                            <div class="image-container default"
                                style="background-image:url(/assets/images/persona.png)"></div>
                        </div>
                    </div>
                </div>
                <div class="col m3">
                    <div class="perspective-wrapper">
                        <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                            <h3>Crece digitalmente</h3>
                            <p>Nutre a tus audiencias, para que cada vez te conozcan más.</p>
                        </div>
                    </div>
                    <div class="perspective-wrapper nOlvidar">
                        <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
                            <h3>No dejes que te olviden</h3>
                            <p>Con nuestros servicios de campañas digitales en google, instagram y facebook.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section full-height">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col m3">
                    <div class="phone-preview-sizer right-in-out fade-in-out">
                        <div class="phone-preview"></div>
                        <div class="image-container default" style="background-image:url(/assets/images/colorCel.png)">
                        </div>
                    </div>
                </div>
                <div class="col m8 offset-m1">
                    <div class="staggered-transition-wrapper">
                        <div class="feature left-in-out fade-in-out">
                            <h3>Campañas en redes sociales</h3>
                            <p class="textWthite">Posiciona tu producto deacuerdo a tu objetivo mediante una campaña a
                                presupuesto. Con
                                esto podrás lograr que una audiencia similar a tus clientes, que se encuentran en este
                                canal, puedan reconocerte o comprarte. </p>
                        </div>
                        <div class="feature left-in-out fade-in-out">
                            <h3>Campañas en google</h3>
                            <p class="textWthite">Te posicionaremos en motores de búsqueda. De esta manera, posibles
                                clientes, que están
                                buscando activamente soluciones como la tuya, te van a encontrar.</p>
                        </div>
                        <div class="feature left-in-out fade-in-out">
                            <h3>Campañas en Youtube, Amazon, LinkedIn, etc...</h3>
                            <p class="textWthite">Que te vean en todas partes, sin importar cuál es tu producto. Podemos
                                promocionar tu marca en diversos canales. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section light full-height">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m4">
                    <div class="staggered-transition-wrapper">
                        <div class="feature fade-right-in-out">
                            <h3>Sitios web</h3>
                            <p>Tu tarjeta de presentación más formal es tu sitio web. Nuestros diseños incluyen una
                                experiencia de usuario personalizada a tu audiencia y responsividad de dispositivo.</p>
                        </div>
                        <div class="feature fade-right-in-out">
                            <h3>Micrositios</h3>
                            <p>Si aun estás en etapas tempranas de tu negocio. Podemos generarte algo más pequeño, que
                                cumpla con las expectativas mínimas para que puedas crecer digitalmente. </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="device-pair">
                        <div class="tablet-preview-sizer">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/6.png)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer left-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/5.png)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <div class="section light valign-wrapper" style="background-color: black !important;">
        <div class="container">
            <form action="/inicio/email" method="POST" onsubmit="return submitInicioForm(this);">
                <div class="row">
                    <div class="col s12">
                        <h2 class="section-title textRealWhite">Contáctanos</h2>
                    </div>
                    <div class="input-field col s6 ">
                        <input id="first_name" type="text" name="nameInicio" required="" class="formInput">
                        <label for="first_name">Nombre Completo</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="emailInicio" id="emailInicio" type="text" class="validate formInput" required=""
                            aria-required="true">
                        <label for="email">Correo electrónico</label>
                    </div>
                    
                        <div class="input-field col s12">
                            <input name="messageInicio" id="input_text" type="text" data-length="10" required=""
                                aria-required="true" class="formInput">
                            <label for="input_text">Mensaje</label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" required="" aria-required="true" />
                                <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                            </label>
                        </div>
                        <button class="btn waves-effect waves-light #212121 grey darken-4">Enviar
                            <i class="material-icons right" style="color: white !important;">send</i>
                        </button>
                    
                </div>
            </form>
        </div>
    </div>

</div>