<div class="proyectosDiv">
    <div class="section header">
        <div class="background">
            <img src="http://placehold.it/1440x900" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
            <div class="col s12">
                <h1 style="color:#24d4fc;" class="transitionTitle">Nuestros proyectos</h1>
                <span class="tagline">Crece tu negocio digitalmente, independientemente de la industria o el tamaño de
                    tu compañía.</span>
                <button class="read-more"><i class="icon-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="somosXyncs">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h3 class="section-title center-align" style="color: black; font-weight:bolder;"><i
                            class="fa-solid fa-globe"></i> Sitios web</h3> <br>
                    <h4 class="" style="color: black;">
                        <div class="fade-in-out">

                            <p class="caption center-align textSomos">
                                Cada sitio que diseñamos es único y personalizado. Las propuestas van con respecto a tu
                                presupuesto, la fase de crecimiento de tu compañía, la industria en la que te
                                desesempeñas y tu visión de negocio.</p>
                        </div>

                    </h4>
                </div>
                <div class="col s12 m12 l12">

                    <!-- Project Section -->
                    <div class="container" id="projects">
                        <h3 class="" style="color: black !important;">Proyectos: Web
                            design</h3>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.consultingjofer.com/inicio" target="_blank">
                                        <img src="/assets/images/jofer.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.idm-serag.com/inicio" target="_blank">
                                        <img src="/assets/images/idm.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="http://www.kaak-naab.com/" target="_blank">
                                        <img src="/assets/images/kaak.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.divensnorkeltulum.com/inicio" target="_blank">
                                        <img src="/assets/images/tulum.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.terrazai662.com/inicio" target="_blank">
                                        <img src="/assets/images/terraza.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.akkaconsulting.com.mx/inicio" target="_blank">
                                        <img src="/assets/images/akka.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.davidhacher.com/inicio" target="_blank">
                                        <img src="/assets/images/davidHacher.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.importacionesyuky.com/inicio" target="_blank">
                                        <img src="/assets/images/yuky.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div> <br> <br>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h3 class="section-title center-align" style="color: black; font-weight:bolder;"><i
                            class="fa-solid fa-photo-film"></i> Redes sociales y campañas digitales</h3> <br>
                    <h4 class="" style="color: black;">
                        <div class="fade-in-out">

                            <p class="caption center-align textSomos">
                                Cada sitio que diseñamos es único y personalizado. Las propuestas van con respecto a tu
                                presupuesto, la fase de crecimiento de tu compañía, la industria en la que te
                                desesempeñas y tu visión de negocio.</p>
                        </div>

                    </h4>
                </div>
                <div class="col s12 m12 l12">

                    <!-- Project Section -->
                    <div class="container" id="projects">
                        <h3 class="w3-border-bottom  w3-padding-16" style="color: black !important;">Proyectos: Digital
                            Strategies</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/deregilchocolat/?hl=es" target="_blank">
                                        <img src="/assets/images/deRegil.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/idm.serag/?hl=es" target="_blank">
                                        <img src="/assets/images/idm.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/kaaknaabplayaventura/?hl=es" target="_blank">
                                        <img src="/assets/images/kaak.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/diveandsnorkeltulum/?hl=es" target="_blank">
                                        <img src="/assets/images/tulum.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/terrazai662/?hl=es" target="_blank">
                                        <img src="/assets/images/terraza.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/puertagua/?hl=es" target="_blank">
                                        <img src="/assets/images/puertagua.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/mezcal_sietelunas/?hl=es" target="_blank">
                                        <img src="/assets/images/sieteLunas.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.instagram.com/loc.seguridad/?hl=es" target="_blank">
                                        <img src="/assets/images/loc.jpg" alt="House" style="width:99%" class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>