<div class="digitalDiv">
    <div class="soBanner"></div>
    <div class="section black full-height">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="feature">
                        <h3>Team Building</h3>
                        <p class="textRealWhite"><span style="font-weight: bolder; color: rgb(255, 196, 0); ">El team
                                building</span> es un proceso diseñado para mejorar las relaciones y
                            la cohesión entre los miembros de un equipo, con el objetivo de aumentar la eficiencia, la
                            comunicación y la colaboración dentro del grupo. A través de una serie de actividades y
                            ejercicios, el team building busca fortalecer el espíritu de equipo, resolver conflictos y
                            fomentar un ambiente de trabajo positivo y productivo.
                        <ul class="collection">
                            <li class="collection-item N/A transparent">Actividades y Ejercicios: Juegos, dinámicas,
                                talleres y desafíos que promueven la cooperación y el trabajo en equipo.</li>
                            <li class="collection-item N/A transparent">Resolución de Problemas: Mejorar la capacidad
                                del equipo para enfrentar y resolver problemas juntos.
                            </li>
                            <li class="collection-item N/A transparent">Aumento de la Productividad: Equipos más
                                cohesionados tienden a trabajar de manera más eficiente.
                            </li>

                        </ul>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/fuego.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">EN BUSCA DEL FUEGO
                                NUEVO<i class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">EN BUSCA DEL FUEGO
                                NUEVO<i class="material-icons right" style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 15 a 150 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Trabajo en equipo,
                                planeación, liderazgo, estrategia y comunicación. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Equipos de guerreros saldrán en busca delos objetos
                                ceremoniales y el códice sagrado; apoyándose
                                únicamente de sus habilidades, conocimientos y un
                                antoguo mapa del lugar; pero solo el mejor equipo de
                                guerreros será el merecedor de encender el fuego
                                nuevo que les abrirá nuevas posibilidades de
                                aprendizaje y desarrollo personal.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/amazonia.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">AMAZONIA<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">AMAZONIA<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 10 a 30 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Pensamiento estratégico,
                                colaboración, negociación y enfoque a resultados. <br>
                                <span class="bulletsGross">Duración:</span> 2 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Se dice que en la selva del amazonia se encuentra una
                                mina repleta de diamantes. Para poder accesar a ellos
                                cada equipo deberá diseñar una estrategia casi
                                perfecta que les permita cruzar la selva con éxito,
                                solo los equipos más cohesionados y organizados
                                lograrán el reto. En el amazonia se encontrarán con
                                varios personajes que los retarán a trabajar en equipo.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/pirata.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">LAS ISLAS<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">LAS ISLAS<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 9 a 20 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Negociación,
                                comunicación, estrategia, enfoque a resultados y sentido
                                de pertenencia. <br>
                                <span class="bulletsGross">Duración:</span> 2 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Existen cuatro islas en el mar del caribe en donde cada
                                una tiene acceso a un producto clave; sin embargo,
                                para que todos los habitantes de las islas sobrevivan
                                (que es el objetivo) deberán hacer negocio o trueque
                                con los líderes de las islas alternas. Despues de un
                                tiempo, cada isla será evaluada con ciertos puntos de
                                calidad y se determinará si se cumplió el objetivo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/orquesta.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">LA ORQUESTA<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">LA ORQUESTA<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 20 a 500 personas.. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Trabajo en equipo, sentido
                                de pertenencia, colaboración, integración e innovación. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>Formaremos equipos y les daremos un instrumento a
                                cada integrante. Les enseñaremos un patrón ritmico y
                                cómo ejecutar el instrumento asignado. Tras varios
                                ensayos y dominando dicho patrón rítmico,
                                procederemos a ensamblar con todos los equipos
                                para lograr el objetivo final que es tocar una canción
                                todos juntos. Este ensayo dinámico es muy divertido y
                                retador, los participantes se emocionan y se meten de
                                lleno en la experiencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/montana.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">MONTAÑA MÁGICA<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">MONTAÑA MÁGICA<i
                                    class="material-icons right" style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 10 a 50 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Liderazgo, adaptación al
                                cambio, trabajo en equipo, cohesión y pensamiento out
                                of the box. <br>
                                <span class="bulletsGross">Duración:</span> 8 a 16 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Outdoor.
                            </p>
                            <p>Los participantes son invitados a través de una carta
                                formal por parte del manager o director general, en esta
                                solo se les indica el material que deberán llevar a la
                                experiencia (equipo de campismo) la hora y el lugar de
                                reunión. En todo momento los participantes estan
                                expectantes, ya que no saben lo que pasará. La
                                experiencia sugiere comenzar en la noche, ya que hacen
                                una caminata nocturna y van viviendo distintos retos,
                                terminamos al día siguiente con la decodificación.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/domino.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">MISMO EQUIPO,
                                MISMA META<i class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">MISMO EQUIPO,
                                MISMA META<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 10 a 500 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> NColaboración,
                                comunicación efectiva, sentido de pertenencia,
                                compromiso, integración y cohesión. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 16 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor.
                            </p>
                            <p>Esta experiencia es muy dinámica y entretenida, los
                                colaboradores viven distintos retos que los llevan a
                                desarrollar la inteligencia colectiva superior. A través
                                de las distintas dinámicas llevamos al equipo a pasar
                                del juego individual al de equipo. Esta experiencia es
                                muy poderosa, ya que se enfoca en comprometer a
                                cada participante para con su equipo y con la
                                organización, y asi lograr cambios permanentes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/pandemia.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">PANDEMIA<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">PANDEMIA<i class="material-icons right"
                                    style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 4 a 20 personas.. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Inteligencia colectiva
                                superior, cooperación, pensamiento estratégico e
                                inclusión. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 16 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor/Outdoor.
                            </p>
                            <p>El mundo se está infectando rápidamente con cuatro
                                enfermedades que amenazan con acabar a la raza
                                humana. Basado en desarrollar la filosofía de la
                                cooperación. Los equipos asumen una misión que los
                                demanda salir del espacio de competencia y
                                desarrollar una estrategia compartida para lograr el
                                éxito del desafio. La planificación, la inclusión y aporte
                                de cada participante son factores claves en el logro de
                                la misión.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/assets/images/inflable.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">INFLATEAM CHALLENGE<i
                                    class="material-icons right">more_vert</i></span>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">INFLATEAM CHALLENGE<i
                                    class="material-icons right" style="color: black !important;">close</i></span>
                            <p>
                                <span class="bulletsGross">Aforo:</span> 20 a 35 personas. <br>
                                <span class="bulletsGross">Competencias a desarrollar:</span> Trabajo en equipo,
                                creatividad, compromiso, escucha activa y tenacidad. <br>
                                <span class="bulletsGross">Duración:</span> 4 a 8 hrs. <br>
                                <span class="bulletsGross">Modalidad:</span> Indoor.
                            </p>
                            <p>Reconectando con nuestro niño interior a través de
                                juegos inflables, dividimos al equipo en grupos chicos,
                                el objetivo es obtener el mayor número de puntos
                                posibles, pero para lograrlo deberán colaborar y
                                planear de manera extraordinaria. En esta experiencia
                                la celebración se vuelve el punto más importante, le
                                mostramos a la audiencia la importancia de esta y
                                comenzamos a practicarla.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 ">

                </div>
            </div>
        </div>
    </div>


</div>