<div class="websDesign">
    <div class="weBanner">

    </div>
    <div class="section black full-height">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m8">
                    <div class="device-pair right-side">
                        <div class="tablet-preview-sizer white">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/5web.jpg)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer white right-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/6web.jpg)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="staggered-transition-wrapper">
                        <div class="feature fade-left-in-out">
                            <h3>Nuestros sitios web</h3>
                            <p class="textRealWhite">Nuestro diseño de sitios está enfocado en generar una buena
                                experiencia para el cliente, crear una interfaz atractiva y generar fluidez en tu sitio.
                                Incluye:

                            <ul class="collection">
                                <li class="collection-item N/A transparent ">Formulario de contacto y contacto por redes sociales y whatsapp</li>
                                <li class="collection-item N/A transparent ">Certificado de sitio seguro
                                </li>
                                <li class="collection-item N/A transparent ">Dominio web
                                </li>

                            </ul>

                            </p>
                        </div>
                        <div class="feature fade-left-in-out">
                            <h3>Posiciona tu negocio</h3>
                            <p class="textRealWhite">La estructura de código que generemos para tu sitio incluirá la
                                posibilidad de expandirse o de agregar accesorios de código para que puedas:
                            <ul class="collection">
                                <li class="collection-item N/A transparent">Lanzar campañas digitales de tráfico al
                                    sitio</li>
                                <li class="collection-item N/A transparent">Hacer tracking de las ventas en tu negocio
                                </li>
                                <li class="collection-item N/A transparent">Generar nuevas secciones cuando tu quieras
                                </li>

                            </ul>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>