<div class="websDesign">
    <div class="weBannerLanding">

    </div>
    <div class="section black full-height">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m8">
                    <div class="device-pair right-side">
                        <div class="tablet-preview-sizer white">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/5web.jpg)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer white right-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/6web.jpg)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="staggered-transition-wrapper">
                        <div class="feature fade-left-in-out">
                            <h3>Un sitio web para tu negocio</h3>
                            <p class="textRealWhite">Genera una buena
                                experiencia para tus clientes y mejora tu imagen digital.
                                Incluye:

                            <ul class="collection">
                                <li class="collection-item N/A transparent ">Formulario de contacto y contacto por redes
                                    sociales y whatsapp</li>
                                <li class="collection-item N/A transparent ">Certificado de sitio seguro
                                </li>
                                <li class="collection-item N/A transparent ">Dominio web
                                </li>

                            </ul>

                            </p>
                        </div>
                        <div class="feature fade-left-in-out">
                            <h3>Posiciona tu negocio</h3>
                            <p class="textRealWhite">
                            <ul class="collection">
                                <li class="collection-item N/A transparent">Lanza campañas digitales</li>
                                <li class="collection-item N/A transparent">Aumenta tus ventas
                                </li>
                                <li class="collection-item N/A transparent">Crece tu audiencia en otros canales digitales
                                </li>

                            </ul>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactoDiv">
        <div class="container centered titleSiguenos">
            <div class="row">

                <h3>Contáctanos</h3>
                <p style="font-style: italic; font-size: 1.5rem">También puedes enviar correo directamente a:
                    alecvipa@gmail.com
                </p>

            </div>
            <div class="row">
                <form class="col s12" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="name" placeholder="Nombre" id="first_name" type="text"
                                class="validate formInput" required="" aria-required="true">
                            <label for="first_name">Nombre completo</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="email" id="email" type="text" class="validate formInput" required=""
                                aria-required="true">
                            <label for="email">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="message" id="input_text" type="text" data-length="10" required=""
                                aria-required="true" class="formInput">
                            <label for="input_text">Mensaje</label>
                        </div>
                    </div>
                    <div class="row">
                        <label>
                            <input type="checkbox" required="" aria-required="true" />
                            <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                        </label>
                    </div>
                    <button class="btn waves-effect waves-light #212121 grey darken-4">Enviar
                        <i class="material-icons right" style="color: white !important;">send</i>
                    </button>
                </form>
            </div>
        </div> <br>
        <div class="opcionComprar">
            <div class="container">
                <div class="row centered titleSiguenos">
                    <h4>Síguenos en redes.</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/push.jpg">
                        </a>

                    </div>
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/tarjetaPresentacion.jpg">
                        </a>

                    </div>
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/celXyncs.jpg">
                        </a>

                    </div>
                </div>
            </div>
        </div> <br>
    </div>



</div>