<div class="websDesign">
    {{!-- <div class="fixed-action-btn">
        <a class="btn-floating btn-large green"
            href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información de los sitios web"
            target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        {{!-- <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul> --}}
    </div> --}}

    <div class="weBannerLanding">

    </div> <br>
    <div class="container center-align">
        <h3>Cotiza tu sitio web! Hecho a tu medida y a tu presupuesto</h3>
    </div>
    <div class="section black full-height">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m8">
                    <div class="device-pair right-side">
                        <div class="tablet-preview-sizer white">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/5web.jpg)">
                            </div>
                        </div>
                        <div class="tablet-preview-sizer white right-in-out">
                            <div class="tablet-preview"></div>
                            <div class="image-container default" style="background-image:url(/assets/images/6web.jpg)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="staggered-transition-wrapper">
                        <div class="feature fade-left-in-out">
                            <h3>Un sitio web seguro</h3>
                            <h5 class="textRealWhite">

                                <ul class="collection">
                                    <li class="collection-item N/A transparent "><i class="fa-solid fa-rocket"></i>
                                        CERTIFICADO DE SEGURIDAD PARA PROTEGER TU INFORMACIÓN</li>
                                    <li class="collection-item N/A transparent "><i class="fa-solid fa-rocket"></i> EL
                                        MEJOR DISEÑO
                                    </li>
                                    <li class="collection-item N/A transparent "><i class="fa-solid fa-rocket"></i> EL
                                        MEJOR PRECIO
                                    </li>

                                </ul>

                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactoDiv">
        <div class="container centered titleSiguenos">
            <div class="row">

                <h3 style="font-weight: bolder;">Agenda una llamada con Alejandro</h3>
                <hr>
                <h4>Una consultoría gratuita sobre el sitio web que necesitas</h4>

            </div>
            <div class="row">
                <!-- Principio del widget integrado de Calendly -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/alejandrovilchis/llamada"
                    style="min-width:320px;height:700px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"
                    async></script>
                <!-- Final del widget integrado de Calendly -->
            </div>
            {{!-- <div class="row">
                <form class="col s12" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="name" placeholder="Nombre" id="first_name" type="text"
                                class="validate formInput" required="" aria-required="true">
                            <label for="first_name">Nombre completo</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="email" id="email" type="text" class="validate formInput" required=""
                                aria-required="true">
                            <label for="email">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="message" id="input_text" type="text" data-length="10" required=""
                                aria-required="true" class="formInput">
                            <label for="input_text">Número de teléfono</label>
                        </div>
                    </div>
                    <div class="row">
                        <label>
                            <input type="checkbox" required="" aria-required="true" />
                            <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                        </label>
                    </div>
                    <button class="btn waves-effect waves-light #212121 grey darken-4">Enviar
                        <i class="material-icons right" style="color: white !important;">send</i>
                    </button>
                </form>
            </div> --}}
        </div> <br>

        {{!-- <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h3 class="section-title center-align" style="color: white; font-weight:bolder;"><i
                            class="fa-solid fa-globe"></i> Proyectos</h3> <br>
                    <h4 class="" style="color: white;">
                        <div class="fade-in-out">

                            <p class="caption center-align textSomos">
                                Cada sitio que diseñamos es único y personalizado. Las propuestas van con respecto a tu
                                presupuesto, la fase de crecimiento de tu compañía, la industria en la que te
                                desesempeñas y tu visión de negocio.</p>
                        </div>

                    </h4>
                </div>
                <div class="col s12 m12 l12">

                    <!-- Project Section -->
                    <div class="container" id="projects">
                        <h3 class="" style="color: black !important;">Proyectos: Web
                            design</h3>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.consultingjofer.com/inicio" target="_blank">
                                        <img src="/assets/images/jofer.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.idm-serag.com/inicio" target="_blank">
                                        <img src="/assets/images/idm.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="http://www.kaak-naab.com/" target="_blank">
                                        <img src="/assets/images/kaak.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.divensnorkeltulum.com/inicio" target="_blank">
                                        <img src="/assets/images/tulum.jpg" alt="House" style="width:100%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.terrazai662.com/inicio" target="_blank">
                                        <img src="/assets/images/terraza.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.akkaconsulting.com.mx/inicio" target="_blank">
                                        <img src="/assets/images/akka.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.davidhacher.com/inicio" target="_blank">
                                        <img src="/assets/images/davidHacher.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                            <div class="col l3 m6 ">
                                <div class="w3-display-container">
                                    <a href="https://www.importacionesyuky.com/inicio" target="_blank">
                                        <img src="/assets/images/yuky.jpg" alt="House" style="width:99%"
                                            class="pointer">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <br>

        <div class="opcionComprar">
            <div class="container">
                <div class="row centered titleSiguenos">
                    <h4>Síguenos en redes.</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/push.jpg">
                        </a>

                    </div>
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/tarjetaPresentacion.jpg">
                        </a>

                    </div>
                    <div class="col l4 m4 s12">
                        <a href="https://www.instagram.com/xyncstudio/?hl=es" target="_blank">
                            <img class="responsive-img" src="/assets/images/celXyncs.jpg">
                        </a>

                    </div>
                </div>
            </div>
        </div> <br>
    </div> --}}



</div>