.navbar-solid-transition{
    padding-bottom: 6%;
    padding-left: 3%;
    padding-right: 5%;
}
.pointer {cursor: pointer;}

.navItems {
    color: black !important;
    
}
.textSomos{
    font-size: 25px;
    line-height: 1.5;
}
.logoNegroBg{
    width: 8% !important;
    padding: 1%;
}
.transitionTitle{
    margin-top: 10% !important;
}
.material-icons{
    color: white !important;
}
.somosXyncs{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}
.celXyncs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.textWthite{
    color:  #fabab2 !important;
}
.textRealWhite{
    color: white !important;
}
.textBlack{
    color: black !important;
}
.weBanner{
    height: 50rem;
    background-image: url('/assets/images/bannerWd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.soBanner{
    height: 50rem;
    background-image: url('/assets/images/bannerSm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.campDiv{
    height: 50rem;
    background-image: url('/assets/images/bannerC.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.divContacto{
    height: 30rem;
    background-image: url('/assets/images/bannerContacto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bannerPrivacidad2{
    height: 50rem;
    background-image: url('/assets/images/bannerPrivacidad.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media only screen and (min-width : 992px) {
    .nOlvidar{
        margin-bottom: 100%;
    }
    .divContacto{
        background-position: 0% 17%;
    }
}

@media only screen and (max-width : 991px) {
    .logoNegroBg{
        width: 15% !important;
        padding: 0%;
    }
    .weBanner, .soBanner, .campDiv{
        height: 23rem;
    }
    
}

@media only screen and (max-width : 600px) {}